<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Soluciones para Pequeñas y Medianas Empresas</h2>
                <hr class="light">
                <p class="text-faded">Mi nombre es Elio Bastias soy Project Manager y fundador de Smart-IT (Estrategia y Management en Comunicaciones e Infraestructura de IT), 
                    este es un proyecto que nace con la necesidad de crear valor a las inversiones que realizan las PYMES, en sus diferentes áreas de comunicaciones, networking e infraestructura de IT.
                    En Smart-IT entendemos que su actividad requiere de una infraestructura tecnológica adecuada, de un soporte técnico y de mantenimiento correcto, flexible y adaptable a sus necesidades.
                </p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
