<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>SOLUCIONES #OPENSOURCE PARA GESTIONAR SU INFRAESTRUCTURA DE IT</h1>
            <hr>
            <p>Obtenga una ventaja competitiva a través de una infraestructura de TI optimizada. 
                 La agilidad comercial se está convirtiendo en una necesidad estratégica.
                En este entorno, el rol de la tecnología de la información (TI) se está convirtiendo en un recurso estratégico clave 
                para permitir e impulsar la innovación, la rentabilidad y la satisfacción del cliente. La importancia del rol de TI en 
                el mundo corporativo moderno está resaltada por las crecientes inversiones en TI que las empresas están realizando.
            </p>
            </hr>

            <a href="#about" class="btn btn-primary btn-xl page-scroll">Acerca de</a>
        </div>
    </div>
</header>
