<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestros Servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>Soporte y servicios informáticos para PyMES</h3>
                    <p class="text-muted">En Smart-IT entendemos que su actividad requiere de una infraestructura tecnológica adecuada, 
                        de un soporte técnico y de mantenimiento correcto, flexible y adaptable a sus necesidades.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Servicios de SysAdmin</h3>
                    <p class="text-muted">Cuidamos de tus aplicaciones web y servidores. Dedica tu tiempo y recursos a adquirir nuevos clientes y desarrollar tus aplicaciones. 
                        Yo te ayudaré a administrar, desplegar y monitorizar tus servidores y sitios web (PHP, Node.js, estáticos). </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Servicios de consultoría y desarrollo de software</h3>
                    <p class="text-muted">Hacemos que tu proyecto sea una realidad.
                                            
                                            Te escuchamos:
                                            En smart-IT escuchamos tu propuesta o tu idea de proyecto.
                                            Conocemos las tecnologías, conocemos el mercado, seguramente el 
                                            proyecto que tienes en mente y crees que es muy complicado pueda 
                                            hacerse de una manera sencilla.
                                            
                                            Te asesoramos:
                                            como llevar a cabo tu proyecto.
                                            - Qué tecnologías utilizar.
                                            Ejemplo: ¿Es mejor una app o una web?
                                            - Tenemos en cuenta tu presupuesto.
                                            Ejemplo: ¿Proyecto completo o una versión inicial escalable o MVP?

                                            Te acompañamos:
                                            Desde el inicio:
                                                Te asesoramos desde el principio.
                                            En la creación:
                                            Sin sorpresas, presupuestos y fechas de entrega cerradas.
                                            El mejor soporte técnico:
                                            A diferencia de otras empresas, siempre contactarás con 
                                            las personas que han participado en tu desarrollo
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Metodologías de Gestión</h3>
                    <p class="text-muted"> La metodología empleada para los 3 servicios que mencionamos, esta basada en DevOps. 
                                           Es importante aclarar en un primer momento que DevOps no es una tecnología, sino una metodología 
                                           y que está ligada a las metodologías de desarrollo de software ágiles. Con esta metodología no solo
                                           se cambian los métodos de gestión del ciclo de desarrollo de software a nivel tecnológico, sino también
                                           a nivel cultural. Los equipos de desarrollo, sistemas e incluso QA, comienzan a colaborar y trabajar conjuntamente 
                                           para cubrir todo el ciclo de desarrollo del software de manera que los procesos son mucho más ágiles y seguros y de esta 
                                           manera también garantizan un producto final de mucha más calidad y fiabilidad. Todo esto se consigue incorporando 
                                           herramientas que permiten automatizar el máximo posible todas las tareas y permite trabajar en equipo consiguiendo
                                           al final una alta frecuencia entre releases y aumentando la calidad de sus productos. 
                    </p>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>Stack de Desarrollo</h3>
                    <p class="text-muted">Tecnologías en las cuales desarrollamos:
                        * Android/Kottlin/Flutter/Dart para desarrollo mobiles nativos.-
                        * Python utilizando framework del tipo Flask y Django.-
                        * Java.-
                        * Golang utilizado para microservicios
                        * PHP utilizando de forma nativa o framework tipo Laravel.-</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Stack de Infraestructura</h3>
                    <p class="text-muted"> Infraestructura que administramos:
                                * On Premise, servidores basados en linux
                                * Servicios de Cloud de AWS;  con los productos EC2, S3, Aurora, DynamoDB, RDS, Postgres, MySQl, , VPC
                                * Servicios de Cloud de Google Cloud: Compute Engine, Cloud SQL(postgres, mysql), Cloud Run
                                * Equipamiento de Networking CISCO, Router y switching L2, L3 y core</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Stack Bases de datos</h3>
                    <p class="text-muted"> Administramos y damos soporte a los siguientes motores de bases de datos:
                       *Relacionales: Postgres y MySql/MariaDB.-
                       *No Realcionales: MOngoDB.-
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Stack Metodologías de Gestión</h3>
                    <p class="text-muted"> La metodología empleada:
                        *Scrum
                        *Agiles
                        *XP
                        *TDD
                        *DevOps
                        *PMI
                    </p>
                </div>
            </div>
        </div>
    </div>


</section>
